{% extends 'refrigerator_project/base.html' %} {% load static %} {% block content %}

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200&display=swap" rel="stylesheet">

<style>
    ul {
        list-style-type: none;
    }
</style>

<script>
    function search(input, ul) {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById(input);
        filter = input.value.toUpperCase();
        ul = document.getElementById(ul);
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            txtValue = li[i].id
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>

<div class="container">
    <div class="row">
        <div class="col card map border-light mb-3"
            style="margin: auto; outline: none; border-radius: 0%; padding-top: 5px;">
            <h3 class="text-center">Recipes</h3>
        </div>
    </div>
    <div class="row">
        <div class="col card map border-light mb-3" style="outline: none; border-radius: 10px;">
            <span class="label label-info"
                style="margin:1%;text-align:center;color:white;background-color: #01B9F5;border-radius: 10px;padding:5px">{{current_fridge.name}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="text-center">Select the items you'd like to use</h2>
        </div>
    </div>
    <div class="row" style="padding-top: 25px;">
        <div class="col">
            <!-- Search For Items -->
            <div class="container">
                <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                    <div class="input-group">
                        <input type="text" id="ingredient_input" onkeyup="search('ingredient_input', 'ingredient_ul')"
                            placeholder="Item Name" aria-describedby="button-addon1"
                            class="form-control border-0 bg-light">
                        <div class="input-group-append">
                            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <hr size="3" width="100%" color="gray">
            </div>
            <!-- List of Items -->
            <form id="ingredient_form" action="{% url 'recipe_search_results' %}" method="GET">
                <ul class="container-fluid" id="ingredient_ul">
                    {% for each in inventory_items %}
                    <li id="{{each.name}}" style="padding-top: 4px;">
                        <div class="card" x style="height: 4.3em; background-color: #f2f2f2;">
                            <label>
                                <div class="card-body">
                                    <input type="checkbox" style="float:right;" name="ingredient"
                                        value="{{ each.name }}" id="heading">
                                    <h5 class="card-title">
                                        {% with image_static='/item_icons/'|add:each.name|add:'.png' %}
                                        <img src="{% static image_static %}" alt="tracked_item" style="height: 30px;">
                                        {% endwith %}
                                        {{ each.name }}
                                    </h5>
                                </div>
                            </label>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <!-- Submit Button-->
                <div class="row row d-flex align-items-end justify-content-center" style="padding-top: 10px;">
                    <div style="width: 70%;">
                        <button class="btn btn-primary btn-lg btn-block" name="next" type="submit">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}