{% load static %}
<!DOCTYPE html>
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fridge App 9000</title>
    <meta name="description" content="An application for all your fridge needs.">
    <meta name="viewport" content="width=device-width initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5316448d7f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'base.css' %}">

    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</head>

<body>
    <!-- Header -->
    <nav class="navbar fixed-top justify-content-center navbar-dark bg-dark">
        <div class="container" style="height: 35px;">
            {% if "fridge" in request.path %}
            <button onclick="openNav()" class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% endif %}

            {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'fridge' %}">
                <img src="{% static 'logo_gray.png' %}" height="30" alt="">
            </a>
            {% else %}
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'logo_gray.png' %}" height="30" alt="">
            </a>
            {% endif %}

            <div style="position: absolute; right:3px;">
                {% if user.is_authenticated %}
                <a class="btn btn-outline-light btn-sm" href="{% url 'logout' %}" role="button">Logout</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Sidebar (Active on Fridge Page Only) -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#" data-toggle="modal" data-target="#selectRef">Select Refrigerator</a>
        <a href="#">Primary Fridge</a>
        <a href="#" data-toggle="modal" data-target="#editFriends">Edit Friends</a>
        <a href="#" data-toggle="modal" data-target="#rename">Rename Fridge</a>
        <a href="#" data-toggle="modal" data-target="#delete">Delete Fridge</a>
    </div>
    <!-- Modals for Sidebar -->
    <div>
        <div class="modal fade" id="selectRef" tabindex="-1" role="dialog" aria-labelledby="selectRef"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>Modal Body select fridge modal stuff</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit Friends -->
        <div class="modal fade" id="editFriends" tabindex="-1" role="dialog" aria-labelledby="editFriends"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>Modal Body select fridge modal stuff</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Rename Refrigerator -->
        <div class="modal fade" id="rename" tabindex="-1" role="dialog" aria-labelledby="rename" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>Modal Body select fridge modal stuff</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete -->
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>Modal Body select fridge modal stuff</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    {% if not "auth" in request.path and request.path != "/" %}
    <nav class="navbar fixed-bottom justify-content-center navbar-dark bg-dark">
        <ul class="navbar-nav" style="height: 35px;">
            <li class="nav-item">
                <a href="{% url 'fridge' %}"><img src="{% static 'fridge_gray.png' %}"
                        style="height: 30px; vertical-align: middle;" title="Refrigerator" alt="Refrigerator"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link icon" href="{% url 'groceries' %}"><i class="fas fa-shopping-cart fa-lg"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link icon" style="margin-top: -5px;" href="{% url 'upload' %}"><i
                        class="far fa-plus-square fa-2x"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link icon" href="{% url 'recipes' %}"><i class="fas fa-scroll fa-lg"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link icon" href="{% url 'profile' %}"></i><i class="fas fa-user fa-lg"></i></a>
            </li>
        </ul>
    </nav>

    {% else %}
    <!-- Authentication Details -->
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <!-- for displaying messages like success -->
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% endif %}

    <!-- Content -->
    {% block content %}
    {% endblock %}
</body>

</html>