{% extends 'refrigerator_project/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'fridge_card.css' %}">

{% if fridge_name %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center">{{ fridge_name }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form action="#" method="POST">
        {% csrf_token %}
        <input type="submit" value="Add Apple" class="btn btn-primary btn-lg btn-block" role="button"
          aria-pressed="true">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Items in Inventory: </h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Accordion for Collapsible Elements -->
      {% for each in inventory_items %}

      {% if each.expirationdate.date < current_date.date %}
      <!-- expired -->
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card" style="background-color: #ff8080;">
          <h5 class="card-header">
            <a data-toggle="collapse" href="#collapse-{{each.item.id}}" data-parent="#accordion" aria-expanded="true"
              aria-controls="collapse-example" id="heading" class="collapsed d-block">
              {{ each.item.name }}
              {% load static %}
              {% with image_static=each.item.name|add:'.jpg'    %}
              <img src="{% static image_static %}" alt="grocery_item" style="height: 30px;">
              {% endwith %}
              <i class="fa fa-chevron-left pull-right float-right"></i>
            </a>
          </h5>
          <div id="collapse-{{each.item.id}}" class="collapse" aria-labelledby="heading-example">
            <div class="row">
              <div class="column trash-center">
                <ul style="list-style-type:none; padding-top: 10px;">
                  <li>Calories: {{ each.item.calories }} </li>
                  <li>Added on: {{ each.creation_date }} </li>
                  <li>Expiration: {{ each.expirationdate }} </li>
                  <li>Added By: {{ each.addedby.username }} </li>
                </ul>
              </div>
              <div class="column trash-center ">
                <ul>
                  <a class="nav-link" href="#collapse-{{each.item.id}}"><i class="far fa-trash-alt fa-lg"></i></a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% elif each.expirationdate.date > week_time.date %}
      <!-- Good items -->
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card" style="background-color: #c6f1d6;">
          <h5 class="card-header">
            <a data-toggle="collapse" href="#collapse-{{each.item.id}}" data-parent="#accordion" aria-expanded="true"
              aria-controls="collapse-example" id="heading" class="collapsed d-block">
              {{ each.item.name }}
              {% load static %}
              {% with image_static=each.item.name|add:'.jpg'    %}
              <img src="{% static image_static %}" alt="grocery_item" style="height: 30px;">
              {% endwith %}
              <i class="fa fa-chevron-left pull-right float-right"></i>
            </a>
          </h5>
          <div id="collapse-{{each.item.id}}" class="collapse" aria-labelledby="heading-example">
            <div class="row">
              <div class="column trash-center">
                <ul style="list-style-type:none; padding-top: 10px;">
                  <li>Calories: {{ each.item.calories }} </li>
                  <li>Added on: {{ each.creation_date }} </li>
                  <li>Expiration: {{ each.expirationdate }} </li>
                  <li>Added By: {{ each.addedby.username }} </li>
                </ul>
              </div>
              <div class="column trash-center ">
                <ul>
                  <a class="nav-link" href="#collapse-{{each.item.id}}"><i class="far fa-trash-alt fa-lg"></i></a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <!-- Yellow items -->
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card" style="background-color: #ffba92;">
          <h5 class="card-header">
            <a data-toggle="collapse" href="#collapse-{{each.item.id}}" data-parent="#accordion" aria-expanded="true"
              aria-controls="collapse-example" id="heading" class="collapsed d-block">
              {{ each.item.name }}
              {% load static %}
              {% with image_static=each.item.name|add:'.jpg'    %}
              <img src="{% static image_static %}" alt="grocery_item" style="height: 30px;">
              {% endwith %}
              <i class="fa fa-chevron-left pull-right float-right"></i>
            </a>
          </h5>
          <div id="collapse-{{each.item.id}}" class="collapse" aria-labelledby="heading-example">
            <div class="row">
              <div class="column trash-center">
                <ul style="list-style-type:none; padding-top: 10px;">
                  <li>Calories: {{ each.item.calories }} </li>
                  <li>Added on: {{ each.creation_date }} </li>
                  <li>Expiration: {{ each.expirationdate }} </li>
                  <li>Added By: {{ each.addedby.username }} </li>
                </ul>
              </div>
              <div class="column trash-center ">
                <ul>
                  <a class="nav-link" href="#collapse-{{each.item.id}}"><i class="far fa-trash-alt fa-lg"></i></a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% endfor %}
      <!-- End Accordion -->
    </div>
  </div>
</div>
{% else %}
<!-- Insert code to create fridge when user doesnt have one -->
<h1 style="text-align: center;"> No Fridges.</h1>
{% endif %}






{% endblock %}