{% extends 'refrigerator_project/base.html' %}
{% load static %}
{% block content %}

<style>
    .modal-dialog,
    .modal-content {
        /* overflow-y: initial !important; */
        height: 95%;
    }

    .modal-body {
        max-height: calc(100% - 120px);
        overflow-y: auto;
    }
</style>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col">
            <h1 class="text-center">Grocery List</h1>
        </div>
    </div>
    <div class="row">
        <hr size="6" width="100%" color="black">
    </div>
    <div class="row">
        <div class="col">
            <h4>Missing These Items:</h4>
            <!-- Missing Items For Loop -->
            {% if missing_items %}
            {% for each in missing_items %}
            <div class="card" style="height: 4.3em; color: black; background-color: #f2f2f2;">
                <div class="card-body">
                    <h5 class="card-text">
                        {% with image_static='/item_icons/'|add:each|add:'.png' %}
                        <img src="{% static image_static %}" alt="grocery_item" style="height: 30px;">
                        {% endwith %}
                        {{ each }}
                    </h5>
                </div>
            </div>
            <div style="padding-top: 4px;"></div>
            {% endfor %}
            {% else %}
            <p>none</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <hr size="6" width="100%" color="black">
    </div>
    <div class="row">
        <div class="col-10 align-self-center">
            <h4>Manual Items:</h4>
        </div>
        <div class="col-2 align-self-center">
            <div class="float-right">
                <a data-toggle="modal" data-target="#addItem" class="btn btn-primary btn-lg" role="button"
                    aria-pressed="true">+</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="padding-top: 15px;">
            <!-- Manual Items For Loop -->
            {% if manual_items %}
            {% for each in manual_items %}
            <div class="card" style="height: 4.3em; color: black; background-color: #f2f2f2;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1">
                            {% with image_static='/item_icons/'|add:each|add:'.png' %}
                            <img src="{% static image_static %}" alt="grocery_item" style="height: 30px;">
                            {% endwith %}
                        </div>
                        <div class="col-9">
                            <h5 class="card-text">{{ each }}</h5>
                        </div>
                        <div class="col-2">
                            <form method="POST">
                                {% csrf_token %}
                                <button class="far fa-trash-alt fa-lg btn" type="submit" name="delete_item"
                                    value={{each}}></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top: 4px;"></div>
            {% endfor %}
            {% else %}
            <p>none</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Show Modal if Search has been initiated -->
{% if sr %}
<script type="text/javascript">
    $(window).on('load', function () {
        $('#addItem').modal('show');
    });
</script>
{% endif %}

<!-- Modal for the addition of manual items -->
<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="addItem" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header" style="color: black;">
                <h4 class="modal-title">Select Manual Items</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <!-- Search For Items -->
                <div class="container">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                Search by Name, ID, or Calories: <input type="text" name="itemname" size="35"><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="submit" value="Search" name="search">
                            </div>
                        </div>
                    </form>
                    <hr size="3" width="100%" color="gray">
                </div>
                <!-- View List of Items -->
                <form id="grocery_selector" method="POST">
                    {% csrf_token %}
                    <!-- Display Search Results if Applicable -->
                    {% if sr %}
                    <h6 style="color: black;">Found Items:</h6>
                    {% for each in sr %}
                    <div class="card" style="height: 4.3em; color: black; background-color: #f2f2f2;">
                        <label>
                            <div class="card-body">
                                <input type="checkbox" style="float:right;" name="grocery_items" value="{{ each.name }}"
                                    id="heading">
                                <h5 class="card-title">
                                    {% with image_static='/item_icons/'|add:each.name|add:'.png' %}
                                    <img src="{% static image_static %}" alt="grocery_items" style="height: 30px;">
                                    {% endwith %}
                                    {{ each.name }}
                                </h5>
                            </div>
                        </label>
                    </div>
                    <div style="padding-top: 4px;"></div>
                    {% endfor %}
                    {% else %}
                    <!-- Display All Items Available -->
                    <div class="container-fluid">
                        {% for each in all_items %}
                        <div class="card" style="height: 4.3em; color: black; background-color: #f2f2f2;">
                            <label>
                                <div class="card-body">
                                    <input type="checkbox" style="float:right;" name="grocery_items"
                                        value="{{ each.name }}" id="heading">
                                    <h5 class="card-title">
                                        {% with image_static='/item_icons/'|add:each.name|add:'.png' %}
                                        <img src="{% static image_static %}" alt="grocery_item" style="height: 30px;">
                                        {% endwith %}
                                        {{ each.name }}
                                    </h5>
                                </div>
                            </label>
                        </div>
                        <div style="padding-top: 4px;"></div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </form>
            </div>
            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" name="grocery_selector_submit" type="submit" value="selection"
                    form="grocery_selector">Save Selection</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}