{% extends 'refrigerator_project/base.html' %} {% load static %} {% block content %}

<script>
    function search(input, ul) {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById(input);
        filter = input.value.toUpperCase();
        ul = document.getElementById(ul);
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            txtValue = li[i].id
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>

<div style="padding-top: 5px; background-color: white; outline: none; border-radius: 0%;">
    <h3 class="text-center">Grocery List</h3>
    {% if current_fridge %}
    <p class="text-center" style="padding-bottom: 5px;">{{current_fridge.name}}</p>
    {% else %}
    <p class="text-center" style="color: #ff8080; padding-bottom: 5px;">No Refrigerators. Please Add One.</p>
    {% endif %}
</div>
<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <h5>Missing From Fridge:</h5>
        </div>
        <div class="col-4 align-self-center">
            <div class="float-right">
                <button data-toggle="modal" data-target="#tracked_items_modal"
                    class="btn btn-info btn-sm btn-rounded waves-effect" role="button" aria-pressed="true"
                    {% if not current_fridge %} disabled {% endif %}>Edit
                    Items</button>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:10px; margin-bottom: -20px;">
        <div class="col">
            <p style="text-align: center; color: darkgray; font-size: small;">Items here are automatically checked for
                availability in your fridge. When they are not in the fridge they appear here.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col" style="padding-top: 15px;">
            <!-- Missing Items For Loop -->
            {% if missing_items %} {% for each in missing_items %}
            <div class=" card" style="height: 4.3em; background-color: #f2f2f2;">
                <div class="card-body">
                    <h5 class="card-text">
                        {% with image_static='/item_icons/'|add:each|add:'.png' %}
                        <img src="{% static image_static %}" alt="grocery_item" style="height: 30px;"> {% endwith %}
                        {{ each }}
                    </h5>
                </div>
            </div>
            <div style="padding-top: 4px;"></div>
            {% endfor %} {% else %}
            <p>none</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <hr size="6" width="100%" color="black">
        <div class="col align-self-center">
            <h5>Grocery Items:</h5>
        </div>
        <div class="col align-self-center">
            <div class="float-right">
                <button data-toggle="modal" data-target="#addItem" class="btn btn-info btn-sm btn-rounded waves-effect"
                    role="button" aria-pressed="true" {% if not current_fridge %} disabled {% endif %}>Add
                    Items</button>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:10px; margin-bottom: -20px;">
        <div class="col">
            <p style="text-align: center; color: darkgray; font-size: small;">Groceries you can keep track of yourself.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col" style="padding-top: 15px;">
            <!-- Manual Items For Loop -->
            {% if manual_items %} {% for each in manual_items %}
            <div class="card" style="background-color: #f2f2f2;">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-text">
                                {% with image_static='/item_icons/'|add:each|add:'.png' %}
                                <img src="{% static image_static %}" alt="grocery_item" style="height: 30px;">
                                {% endwith %} {{ each }}</h5>
                        </div>
                        <div class="col-3">
                            <form method="POST" class="float-right">
                                {% csrf_token %}
                                <button class="far fa-trash-alt fa-lg btn" type="submit" name="delete_item"
                                    value={{each}}></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top: 4px;"></div>
            {% endfor %} {% else %}
            <p>none</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal: Tracked Items -->
<div class="modal fade" id="tracked_items_modal" tabindex="-1" role="dialog" aria-labelledby="tracked_items_modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="height: 95%;">
        <div class="modal-content" style="height: 95%;">
            <!-- Header -->
            <div class="modal-header">
                <h4 class="modal-title">Select Items to Track</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body" style="max-height: calc(100% - 120px); overflow-y: auto;">
                <!-- Search For Items -->
                <div class="container">
                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                        <div class="input-group">
                            <input type="text" id="trackedInput" onkeyup="search('trackedInput', 'tracked_item_ul')"
                                placeholder="Item Name" aria-describedby="button-addon1"
                                class="form-control border-0 bg-light">
                            <div class="input-group-append">
                                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                                        class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <hr size="3" width="100%" color="gray">
                </div>
                <!-- List of Items -->
                <p style="text-align: center; color: gray;" class="small">Previously selected items are already checked.
                </p>
                <form id="tracked_selector" method="POST">
                    {% csrf_token %}
                    <ul class="container-fluid" id="tracked_item_ul">
                        {% for each in all_items %}
                        <li id="{{each.name}}" style="padding-top: 4px;">
                            <div class="card" x style="height: 4.3em; background-color: #f2f2f2;">
                                <label class="card-body">
                                    {% if each.name in tracked_items %}
                                    <input type="checkbox" style="float:right;" name="tracked_items"
                                        value="{{ each.name }}" id="heading" checked>
                                    {% else %}
                                    <input type="checkbox" style="float:right;" name="tracked_items"
                                        value="{{ each.name }}" id="heading">
                                    {% endif %}
                                    <h5 class="card-title">
                                        {% with image_static='/item_icons/'|add:each.name|add:'.png' %}
                                        <img src="{% static image_static %}" alt="tracked_item" style="height: 30px;">
                                        {% endwith %}
                                        {{ each.name }}
                                    </h5>
                                </label>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-info" name="tracked_selector_submit" type="submit" value="selection"
                    form="tracked_selector">Save Selection</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Manual items -->
<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="addItem" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="height: 95%;">
        <div class="modal-content" style="height: 95%;">
            <!-- Header -->
            <div class="modal-header">
                <h4 class="modal-title">Select Items to Add</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body" style="max-height: calc(100% - 120px); overflow-y: auto;">
                <!-- Search For Items -->
                <div class="container">
                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                        <div class="input-group">
                            <input type="text" id="manualInput" onkeyup="search('manualInput', 'manual_item_ul')"
                                placeholder="Item Name" aria-describedby="button-addon1"
                                class="form-control border-0 bg-light">
                            <div class="input-group-append">
                                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                                        class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <hr size="3" width="100%" color="gray">
                </div>
                <!-- View List of Items -->
                <form id="grocery_selector" method="POST">
                    {% csrf_token %}
                    <ul class="container-fluid" id="manual_item_ul">
                        {% for each in all_items %}
                        <li id="{{each.name}}" style="padding-top: 4px;">
                            <div class="card" x style="height: 4.3em; background-color: #f2f2f2;">
                                <label class="card-body">
                                    <input type="checkbox" style="float:right;" name="grocery_items"
                                        value="{{ each.name }}" id="heading">
                                    <h5 class="card-title">
                                        {% with image_static='/item_icons/'|add:each.name|add:'.png' %}
                                        <img src="{% static image_static %}" alt="grocery_item" style="height: 30px;">
                                        {% endwith %}
                                        {{ each.name }}
                                    </h5>
                                </label>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-info" name="grocery_selector_submit" type="submit" value="selection"
                    form="grocery_selector">Save Selection</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}