{% extends 'refrigerator_project/base.html' %}
{% load static %}
{% block content %}
<!-- <body>
        <p>Welcome To Refrigerator App</p>
        <a href="/upload">Upload Image</a><br>
        <a href="/search">Search Item</a><br>
        <div>
            <p>Items in Inventory: </p>
            {% for each in inventory_items %}
            <tr> 
                <td>Item name:{{ each.itemname }} | Item Id: {{ each.itemid }} | Calories: {{ each.calories }}</td>
                <br></br>
            </tr>
            {% endfor %}
        </div>
    </body> -->

<div class="container-fluid">
    <div class="row d-flex justify-content-center" style="padding-top: 25px;">
        <img src="{% static 'fridge_black.png' %}" alt="josh image" style="height: 300px; vertical-align: middle;">
    </div>
    <div class="row d-flex justify-content-center">
        <h1 class="text-center">Welcome to the Fridge App 9000!</h1>
    </div>
    <div class="row d-flex justify-content-center">
        <h3 class="text-center">Here you can manage your refrigerator.</h2>
    </div>
    <div class="row d-flex justify-content-center">
        <div style="width: 70%;">
            {% if user.is_authenticated %}
            <a href="{% url 'fridge' %}" class="btn btn-primary btn-lg btn-block" role="button"
                aria-pressed="true">Already Logged In</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg btn-block" role="button"
                aria-pressed="true">Login</a>
            {% endif %}
        </div>
        <!-- <a href="{% url 'login' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Login</a> -->
    </div>
    <div class="row d-flex justify-content-center" style="padding-top: 5px;">
        <a href="{% url 'register' %}" class="btn btn-secondary" role="button" aria-pressed="true">Sign Up</a>
    </div>
</div>
{% endblock %}