{% extends 'refrigerator_project/base.html' %} {% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Fridge App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Our Team
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="nina.html">Nina Mir</a>
                    <a class="dropdown-item" href="abhi.html">Abhishek Mane</a>
                    <a class="dropdown-item" href="wilson.html">Wilson Xie</a>
                    <a class="dropdown-item" href="doug.html">Douglas Hebel</a>
                    <a class="dropdown-item" href="gangzhaorige.html">Gangzhaorige Li</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2 class="text-center">Camera Test Page</h2>
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" accept="image/*" name="image" id="file">
            <button type="submit">Upload</button>
        </form>
        <div>
            {% if text %}
            {{text}}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}