{% extends 'refrigerator_project/base.html' %} {% load static %} {% block content %}

<script>
    function search(input, ul) {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById(input);
        filter = input.value.toUpperCase();
        ul = document.getElementById(ul);
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            txtValue = li[i].id
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>

<div class="container">
    <div class="row">
        <div class="col card map border-light mb-3"
            style="margin: auto; outline: none; border-radius: 0%; padding-top: 5px;">
            <h3 class="text-center">Select Manual Items</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                <div class="input-group">
                    <input type="text" id="manualInput" onkeyup="search('manualInput', 'manual_item_ul')"
                        placeholder="Item Name" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                    <div class="input-group-append">
                        <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                                class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <hr size="3" width="100%" color="gray">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form id="grocery_selector" method="POST">
                {% csrf_token %}
                <ul class="container-fluid" id="manual_item_ul" style="list-style-type: none;">
                    {% for each in all_items %}
                    <li id="{{each.name}}" style="padding-top: 4px;">
                        <div class="card" x style="height: 4.3em; background-color: #f2f2f2;">
                            <label>
                                <div class="card-body">
                                    <input type="checkbox" style="float:right;" name="grocery_items"
                                        value="{{ each.name }}" id="heading">
                                    <h5 class="card-title">
                                        {% with image_static='/item_icons/'|add:each.name|add:'.png' %}
                                        <img src="{% static image_static %}" alt="grocery_item" style="height: 30px;">
                                        {% endwith %}
                                        {{ each.name }}
                                    </h5>
                                </div>
                            </label>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" name="grocery_selector_submit" type="submit" value="selection"
            form="grocery_selector">Save Selection</button>
    </div>
</div>

{% endblock %}