{% extends 'refrigerator_project/base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static '/css/fridge_card.css' %}">
<link rel="stylesheet" href="{% static '/css/receipt_upload.css' %}">
<script>
    (function (e, t, n) { var r = e.querySelectorAll("html")[0]; r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2") })(document, window, 0);
</script>

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <h1 class="text-center">Upload Your Receipt</h1>
    </div>
    <div class="row d-flex justify-content-center">
        {% if not text %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file">
                <a class="nav-link icon" style="margin-top: -5px;"><i class="far fa-plus-square fa-2x"></i></a>
            </label>
            <input type="file" name="receipt_image" id="file" class="inputfile inputfile-5" accept="image/*"
                onchange="this.form.submit()" />
        </form>
        {% endif %}
    </div>
    <!-- Form for list of found items -->
    <form method="POST">
        {% csrf_token %}
        <div class="container" style="color:initial;">
            {% for each in  text %}
            <div class="card" style="height: 4rem; color: black; background-color: #f2f2f2;">
                <label>
                    <div class="card-body">
                        <input type="checkbox" style="float:right;" name="selected_items" value="{{ each }}">
                        <h5 class="card-title">
                            {% with image_static='/item_icons/'|add:each|add:'.png' %}
                            <img src="{% static image_static %}" alt="grocery_item" style="height: 30px;">
                            {% endwith %}
                            {{ each }}
                        </h5>
                    </div>
                </label>
            </div>
            <div style="padding-top: 4px;"></div>
            {% endfor %}
        </div>
        <!-- Submit button-->
        {% if text %}
        <div class="row row d-flex align-items-end justify-content-center" style="padding-top: 10px;">
            <div style="width: 70%;">
                <button class="btn btn-primary btn-lg btn-block" name="validate_items" type="submit"
                    value="selection">Next</button>
            </div>
        </div>
        {% endif %}
    </form>
</div>

{% endblock %}