{% extends 'refrigerator_project/base.html' %}
{% block content %}


<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <h1 class="text-center">Upload Your Receipt</h1>
    </div>
    <div class="row d-flex justify-content-center">
        <div style="width: 70%;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" accept="image/*" name="image" id="file">
                <!-- <input type="file" accept="image/*" name="image" id="file" hidden/>
                <a class="btn btn-primary btn-lg btn-block" role="button"
                aria-pressed="false">Upload Receipt Image</a> -->

                <button type="submit">Upload</button>
            </form>
        </div>
    </div>
    <div>
        {% if text %}
        {{text}}
        {% endif %}
    </div>
</div>

{% endblock %}