/* a tag is for links */

a{
  color: black;
}
/* a:hover is the color of links when hovered over with mouse */

a:hover{
  color: black;
}
p{
  font-family: 'Open Sans', sans-serif;
}
/* a:active, when link clicked, color change flashes 

a:active {
  color: #3a4750;
}

/*.card-header and .fa for drop down ability*/

.card-header .fa {
  transition: .3s transform ease-in-out;
}

/*ability for arrow to rotate*/

.card-header .collapsed .fa {
  transform: rotate(-90deg);
}

/*card resizing and change default color*/

.card {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  color: black;
  
}

/*.column and .row are for inside the dropdown card*/

.column {
  float: left;
  width: 50%;
}
.row{
  flex-direction: row;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/*trash icon to be centered*/

.trash-center {
  display: flex;
  align-items: center;
  justify-content: center
}

/*text box centered*/

.textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 3px;
}
