* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

input {
    display: block;
    padding: 6px 10px;
    border-radius: 3px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    margin-bottom: 0px;
    border: 1px solid rgb(167, 167, 167);
}

input[type=submit] {
    width: 100%;
    cursor: pointer;
    color: white;
    font-size: 18px;
    background-color: rgba(30, 130, 250, 1);
    border: none;
    padding: 10px 20px;
}

input[type=submit]:hover {
    background-color: rgb(23, 117, 199);
}

label {
    display: inline;
}

form {
    display: block;
}

legend {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 32px;
}

.main {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(58, 61, 63);
    padding: 20px 30px;
    box-shadow: -1px -1px 0px rgb(43, 42, 42) inset, 1px 1px 0px rgb(43, 42, 42) inset;
    border: 0px solid rgb(44, 44, 44);
    border-radius: 5px;
}

.helptext, ul, li {
    color: rgb(211, 211, 211);
    font-size: 12px;
}

.errorlist li {
    color: red;
    font-size: 12px;
}

.main input {
    margin-bottom: 25px;
}

@media only screen and (max-width: 600px) {
    .main {
        width: 100%;
    }
}